
<div class="content-wrapper">
  <div class="container-fluid">

  <h1 class="title" >Admin Dashboard</h1>

    <div class="row">

    <!-- Icon Cards-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">

              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                  <h4>Product categories</h4>
                  <h2><%= @number_of_categories%></h2>
              </div>
            </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">

              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                  <h4>Products on sale</h4>
                  <h2><%= @number_of_products%></h2>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
